@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Smooch+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --background: #fafafa;
    --text: #292929;
    --link: #146994;
    --header-text: #ffffff;
    --footer-text: #ffffff;
    --footer-background: #544d5c;
    --theme-color: #c866e8;
    --theme-color-dark: #a63f9a;
    --secondary-theme-color: #70c844;
    --secondary-theme-color-dark: #4d9e2b;
    --dark-background: #f0f0f0;
    --shadow-color: rgba(0, 0, 0, 0.5);
    --shadow-color-light: rgba(0, 0, 0, 0.25);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.5;
    color: var(--text);
    background: var(--background);
}

a {
    color: var(--link);
    text-decoration: none;
}

a:visited {
    color: var(--link);
}

a:hover,
a:focus {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    margin-bottom: .5em;
}

.button {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    border-radius: 0.25em;
    background: var(--theme-color);
    color: #fff;
    text-decoration: none;
    transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
    box-shadow: 0 0 0 0.1em var(--theme-color-dark);
    border-bottom: 0.1em solid var(--theme-color-dark);
}

.button.secondary {
    background: var(--secondary-theme-color);
    box-shadow: 0 0 0 0.1em var(--secondary-theme-color-dark);
    border-bottom: 0.1em solid var(--secondary-theme-color-dark);
}

.button:hover,
.button:focus {
    text-decoration: none;
}

.button:active {
    border-bottom: 0;
    background: var(--secondary-theme-color-dark);
    text-decoration: none;
}

.button:active.secondary {
    background: var(--secondary-theme-color-dark);
}

.center {
    text-align: center;
}

.rainbow-hover:hover {
    animation: rainbow .5s ease-in-out;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.card {
    min-width: 15em;
    flex: 1;
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
    background: var(--background);
    box-shadow: 0 .125em .25em var(--shadow-color-light);
    transition: box-shadow 0.2s ease-in-out;
}

@keyframes rainbow {
    0% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(180deg) brightness(150%);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-family: 'Smooch Sans', sans-serif;
    background: url('/images/background.jpg') no-repeat center center / cover;
    /* https://unsplash.com/ja/%E5%86%99%E7%9C%9F/%E7%B4%AB%E8%89%B2%E3%81%AE%E3%82%B0%E3%83%AC%E3%83%BC%E3%83%97-%E3%83%95%E3%83%AB%E3%83%BC%E3%83%84%E3%81%AE%E3%82%BB%E3%83%AC%E3%82%AF%E3%83%86%E3%82%A3%E3%83%96-%E3%83%95%E3%82%A9%E3%83%BC%E3%82%AB%E3%82%B9%E5%86%99%E7%9C%9F-GibvqWh_OcE */
}

header h1 {
    font-size: 4rem;
    text-shadow: 0 .25em .5em var(--shadow-color);
    margin-bottom: 0;
}

header p {
    font-size: 1.5rem;
    text-shadow: 0 .25em .5em var(--shadow-color);
    margin-top: 0;
}

main {
    min-height: 100vh;
}

main section {
    padding: 2rem 0;
}

main section .container {
    width: 80%;
    margin: 0 auto;
}

main section h2 {
    font-size: 2rem;
}

main section p {
    font-size: 1rem;
    margin-top: 0;
}

footer {
    background: var(--footer-background);
    color: var(--footer-text);
    text-align: center;
    padding: 4rem 0;
    padding-bottom: 2rem;
    filter: brightness(150%);
    background:
        linear-gradient(0deg, var(--footer-background), rgba(0, 0, 0, 0)),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.5' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}