@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Smooch+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --background: #fafafa;
    --text: #545454;
    --link: #67bee9;
    --header-text: #ffffff;
    --footer-text: #ffffff;
    --footer-background: #68297d;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
    background: var(--background);
}

a {
    color: var(--link);
    text-decoration: none;
}

a:visited {
    color: var(--link);
}

a:hover, a:focus {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-family: 'Smooch Sans', sans-serif;
    background: url('/images/background.jpg') no-repeat center center / cover;
    /* https://unsplash.com/ja/%E5%86%99%E7%9C%9F/%E7%B4%AB%E8%89%B2%E3%81%AE%E3%82%B0%E3%83%AC%E3%83%BC%E3%83%97-%E3%83%95%E3%83%AB%E3%83%BC%E3%83%84%E3%81%AE%E3%82%BB%E3%83%AC%E3%82%AF%E3%83%86%E3%82%A3%E3%83%96-%E3%83%95%E3%82%A9%E3%83%BC%E3%82%AB%E3%82%B9%E5%86%99%E7%9C%9F-GibvqWh_OcE */
}

header h1 {
    font-size: 4rem;
    text-shadow: 0 .25em .5em rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
}

header p {
    font-size: 1.5rem;
    text-shadow: 0 .25em .5em rgba(0, 0, 0, 0.5);
    margin-top: 0;
}

main {
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
}

main section {
    padding: 2rem 0;
}

main section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

main section p {
    font-size: 1rem;
    margin-top: 0;
}

footer {
    background: var(--footer-background);
    color: var(--footer-text);
    text-align: center;
    padding: 4rem 0;
    filter: brightness(150%);
    background:
        linear-gradient(0deg, rgba(104, 41, 125, 1), rgba(0, 0, 0, 0)),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.5' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}